@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #24292FCC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #24292FCC;
  }
}

@font-face {
  font-family: 'LXGWWenKai';
  src: url('/fonts/LXGWWenKaiScreen.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "LXGWWenKai",Calibri,Arial,sans-serif;
}

a {
 @apply text-gray-700;
}

a:hover {
  @apply border-gray-900;
}

b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a {
  transition: all .2s ease;
}